In [2]:
days =[]
days.append('sunday')
days.append('monday')
days.append('tuesday')
days.append('wednesday')
days.append('thursday')
days.append('friday')
days.append('saturday')

for i in days:
    if i == 'monday':
        print('it\'s monday')
    else:
        print('it\'s not monday')
# Conditional basics

it's not monday
it's monday
it's not monday
it's not monday
it's not monday
it's not monday
it's not monday

In [7]:


weekday = days[1:6]
weekends = []
weekends.append(days[0])
weekends.append(days[-1])

['sunday', 'saturday']

In [66]:
base_hours = 40
hourly_rate = 50.00
over_time_hours = 10
over_time = (base_hours * hourly_rate+(over_time_hours*hourly_rate+hourly_rate*.50))
hours_worked = base_hours + over_time_hours
weekly_paycheck = base_hours * hourly_rate
over_time_paycheck = over_time
if hours_worked > 40:
    print(over_time_paycheck)
else:
    print(weekly_paycheck)

2525.0

In [2]:
#2 loop basics
i = 5
while i <= 15:
    print(i)
    i += 1

5
6
7
8
9
10
11
12
13
14
15

In [3]:
i = 0
while i <= 100:
    print(i)
    i += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [4]:
i = 100
while i >= -10:
    print(i)
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5
0
-5
-10

In [9]:
i = 2
while i <= 1000000:
    print(i)
    i **= 2

2
4
16
256
65536

In [12]:
i = 100
while i >= 5:
    print(i)
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

In [22]:
for i in range(1, 11):
    print(f'7 x {i} = {i*7}')

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [45]:
for i in range(1, 10):
    print(f'{i}'*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [63]:
i = 100
while i >= 1:
    print(i)
    i -= 3

100
97
94
91
88
85
82
79
76
73
70
67
64
61
58
55
52
49
46
43
40
37
34
31
28
25
22
19
16
13
10
7
4
1

In [75]:
x = int(input())
i = 0
while i <= x:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [84]:
x = int(input())
i = 1
while i <= x:
    print(f'Here is an odd number: {i}')
i += 2

In [2]:
for i in range(1, 101):
    if i % 15 == 0:
        print(f'{i} FizzBuzz')
    elif i % 5 ==0:
        print(f'{i} Buzz')
    elif i % 3 == 0:
        print(f'{i} Fizz')
    else:
        print(f'{i}')

1
2
3 Fizz
4
5 Buzz
6 Fizz
7
8
9 Fizz
10 Buzz
11
12 Fizz
13
14
15 FizzBuzz
16
17
18 Fizz
19
20 Buzz
21 Fizz
22
23
24 Fizz
25 Buzz
26
27 Fizz
28
29
30 FizzBuzz
31
32
33 Fizz
34
35 Buzz
36 Fizz
37
38
39 Fizz
40 Buzz
41
42 Fizz
43
44
45 FizzBuzz
46
47
48 Fizz
49
50 Buzz
51 Fizz
52
53
54 Fizz
55 Buzz
56
57 Fizz
58
59
60 FizzBuzz
61
62
63 Fizz
64
65 Buzz
66 Fizz
67
68
69 Fizz
70 Buzz
71
72 Fizz
73
74
75 FizzBuzz
76
77
78 Fizz
79
80 Buzz
81 Fizz
82
83
84 Fizz
85 Buzz
86
87 Fizz
88
89
90 FizzBuzz
91
92
93 Fizz
94
95 Buzz
96 Fizz
97
98
99 Fizz
100 Buzz

In [10]:
i = 0
print('Here is your table!')
print()
print('number | squared | cubed')
print('------ | ------- | -----')
while i <= 4:
    i += 1
    print(f'{i}        {i**2}        {i**3}')

Here is your table!

number | squared | cubed
------ | ------- | -----
1        1        1
2        4        8
3        9        27
4        16        64
5        25        125

In [14]:
grade = float(input('Enter score: '))
if grade >= 99:
    print('A+')
elif grade >= 88:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 67:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

A+

In [21]:
codeup = [{'title': 'flowers for algernon', 'author': 'Daniel Keyes', 'genre': 'science fiction'}, 
{'title': 'dark matter', 'author': 'Blake Crouch', 'genre': 'science fiction'}, 
{'title': 'greenlights', 'author': 'Matthew McConaughey', 'genre': 'Memior'}]

for i in codeup:
    if i == 'science fiction':
        print(i)